*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
     font-family: metropolis;

}

a{
    color: unset;
}

header{
    background-image:url('../images/hero.png');
    background-position: center;
    background-size: cover;
    height: 60vh;
}

/* Header styles */
/* Navbar styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 25px 0px;
    width: 90%;
    margin: 0px auto;
}
nav .nav-item{
    color: #fff;
    margin:0px 10px;
}
nav div.container{
    display:flex;
}
nav div.nav-item{
    font-size: 1.2rem;
    font-weight:200 ;
}
header div.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70%;
    width: 80%;
    margin: 0px auto;
}

header img.logo{
    width:300px;
}

header h1{
    font-size: 2.5 rem;
    color:#fff;
    font-weight: 400;
}

/* header content */

header div.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width:70%;
    border-radius: 10px;


}